node_modules/**/*
.expo/*
npm-debug.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*
web-build/
web-report/
coverage/**/*
__tests__/unit/__snapshots__
--tests__/__snapshots__
__tests__/unit/Directions/__snapshots__
gmaps_api/apiKey.js
bin

# macOS
.DS_Store
